<h1>Результат</h1>
<p>Существует гипотеза Симона о факториале.<br/>
Она гласит, что существует 4 факториала, которые представимы в виде произведения трех последовательных чисел.<br/>
Например: 4! = 2 · 3 · 4.<br/>
Определить эту четверку, подсчитать действительное количество таких факториалов, если это возможно и тем самым доказать неправильность гипотезы.<br/>
Вывести на печать результаты каждой итерации и финальных расчетов.
</p>
<% if @result.empty? %>
  <%= 'Что-то пошло не так, попробуйте еще раз или обратитесь в поддержку' %>
<% else %>
  <div class="result">
    <h2>Найденные факториалы соответствующие гипотезе Симона</h2>
    <p>Число итераций: <%= @max_n %></p>
    <p id="result">Найдено чисел: <%= @result.size %></p>
    <table>
      <tr>
        <th>Факториал</th>
        <th>Последовательность</th>
      </tr>
      <% @result.each do |step| %>
        <tr>
          <td><%= step[:f] %></td>
          <td><%= step[:a1] %>, <%= step[:a2] %>, <%= step[:a3] %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<%= link_to "Повторить попытку", :simons_hypothesis_input %>